@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-action="Create" asp-controller="TodoBook" class="btn btn-outline-primary">Criar</a>
        <a asp-action="Index" asp-controller="TodoBook" class="btn btn-outline-primary">Visualizar</a>
    </div>
</div>
