@model BookOrganizer.Models.RegisterViewModel

<div class="text-center d-flex justify-content-center align-content-center">
    <form asp-action="Register" asp-controller="Account" method="post" style="width:30rem;">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" asp-for="Email" placeholder="Enter email" required>
          
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Password" required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" asp-for="EnableNotifications" />
            <label class="form-check-label" asp-for="EnableNotifications">Enable Notifications</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>